gunicorn
bcrypt
bidict
blinker
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
crypto
cryptography
dnspython
email-validator
Flask
Flask-Login
flask-mongoengine
Flask-PyMongo
Flask-SocketIO
Flask-WTF
fpdf
h11
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
mongoengine
Naked
Pillow
pycparser
pymongo
pypng
python-dateutil
python-engineio
python-socketio
PyYAML
qrcode
reportlab
requests
s3transfer
shellescape
simple-websocket
six
typing_extensions
urllib3
Werkzeug
wsproto
WTForms
